body {
	margin: 0;
	font-family: sans-serif;
	background-color: #fff;
}

html,
body {
	height: 100%;
}

#app {
	display: flex;
	height: 100%;
}

#app > div {
	overflow-y: scroll;
}

#result {
	flex-grow: 1;
}

#result form {
	margin: 4rem auto;
	max-width: 40rem;
}

.show,
.hide {
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	color: #aaa;
	border: none;
	display: block;
	padding: 0.5rem;
	background: transparent;
}

.show:hover,
.hide:hover {
	color: #555;
}

.show {
	width: 100%;
	height: 100%;
}

.hide {
	text-align: right;
	font-size: 2rem;
	display: block;
	margin-left: auto;
}

#config {
	border-right: 1px solid rgb(218, 221, 225);
}

#state {
	border-left: 1px solid rgb(218, 221, 225);
}

.opened {
	width: 22rem;
	padding: 1rem;
}

.closed {
	width: 4rem;
}

#state-debug {
	padding: 10px;
}

#state dl {
	margin: 0;
	margin-left: 2ch;
	padding-left: 2ch;
	border-left: 1px solid #ccc;
}

#state dt,
#state dd {
	display: inline;
	margin: 0;
}

#state dt {
	font-weight: normal;
}

#state dd::after {
	content: "";
	display: block;
}

.badge {
	font-size: 0.8em;
	padding: 0.1em 0.3em;
	margin: 0 0.5em 0;
	border-radius: 0.3em;
	background-color: #555;
	color: #fff;
	display: inline-block;
	font-family: sans-serif;
}

#state-debug {
	font-family: monospace;
	font-size: 14px;
}

.type-primitive {
	background-color: rgb(21, 18, 173);
}

.type-object {
	background-color: rgb(37, 104, 121);
}

.type-array {
	background-color: rgb(48, 112, 32);
}

.touched {
	background-color: rgb(48, 112, 32);
}

.active {
	background-color: rgb(145, 102, 22);
}
